a:hover {
	color: #000033;
}

.contentsm {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #333333;
}

a.contentsm {  
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #003399;
        text-decoration: underline;
}

a.contentsm:hover {
	color: #000033;
}

a.contentsm:visited {
	color: #000033;
}


.content {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
}

.contentred {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #993300;
}

a.content {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: #003399;
	text-decoration: underline;
}

a.content:hover {
	color: #000033;
}

a.content:visited {
	color: #000033;
}

.header {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #003366;
	font-weight: bold;
}

.subheader {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #003366;
	font-weight: bold;
}

.input {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	color: #333333
}


.error {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        color: #FF0000;
}


.buttonblue150 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #FFFFFF;
        background-image: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/bn/button_150.gif);
        height: 18px;
	width: 150px;
        margin: 0px;
        padding: 0px;
        border: 0px 0;
        cursor: hand;
}

.buttonblue100 {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #FFFFFF;
        background-image: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/bn/button_100.gif);
        height: 18px;
	width: 100px;
        margin: 0px;
        padding: 0px;
        border: 0px 0;
        cursor: hand;
}

.button50 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/bn/button_50.gif);
	height: 18px;
	width: 50px;
	margin: 0px;
	padding: 0px;
	border: none;
}

.buttongray {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-image: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/bn/button_gray_100.gif);
	margin: 0px;
	padding: 0px;
	border: none;
	cursor: hand;
	height: 18px;
	width: 100px;
}

.buttongray150 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	background-image: url(http://us.i1.yimg.com/us.yimg.com/i/us/hj/bn/button_gray_150.gif);
	margin: 0px;
	padding: 0px;
	border: none;
	cursor: hand;
	height: 18px;
	width: 150px;
}

.nav_off {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

A.nav_off, A.nav_off:visited { 
	text-decoration: none
}	

A.nav_off:hover {	
	color: #ffffff; 
	text-decoration: underline
}

.nav_on {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #003399;
	text-decoration: none;
}

A.nav_on, A.nav_on:visited { 
	text-decoration: none
}
	
A.nav_on:hover {
	color: #003399; 
	text-decoration: underline
}

A.nav_on:focus {
	color: #003399; 
	text-decoration: underline
}

.contentblue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003399;
	text-decoration: none;
}

.contentbluesm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003399;
	text-decoration: none;
}

A.contentblue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003399;
	text-decoration: underline;
}

A.contentbluesm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #003399;
	text-decoration: underline;
}

.nav_emp_on {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold;
        color: #003366;
        text-decoration: none;
}

A.nav_emp_on, A.nav_emp_on:visited {
        text-decoration: none
}
       
A.nav_emp_on:hover {
        color: #003366;
        text-decoration: underline
}

.blackheader {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        color: #333333;
	font-weight: bold;
}
.contentarial {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #003366;
}
.highlight {
	background-color: #ffff33;
	background: #ffff33
}